# Files and directories created by pub
.dart_tool/
.packages
.dart_tool

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/
*.db
data/disney_shanghai.csv
*.env

disney_fetcher
disney_fetcher_macos
disney_fetcher_linux

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
.vscode/launch.json
.idea
